kolla_base_distro: "centos"
kolla_install_type: "source"
openstack_release: "train"
node_custom_config: "/etc/kolla/config"
kolla_internal_vip_address: "{{ kolla_internal_vip_address }}"
network_interface: "{{ network_interface }}"
storage_interface: "{{ storage_interface }}"
neutron_external_interface: "{{ network_external_interface }}"
keepalived_virtual_router_id: "{{ keepalived_virtual_router_id }}"

enable_cinder: "yes"

{% if external_ceph | bool %}
enable_ceph: "no"
glance_backend_ceph: "yes"
cinder_backend_ceph: "yes"
nova_backend_ceph: "yes"
{% else %}
glance_backend_file: "yes"
enable_cinder_backend_lvm: "yes"
{% endif %}

{% if local_registry | bool %}
docker_registry: "{{ docker_registry }}"
docker_registry_insecure: "yes"
docker_namespace: "{{ docker_namespace }}"
{% endif %}
